{% extends './layout.html' %}
{% block title %}{{ book.title + ' - Demo App'}}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row mt-5 mb-4 wow fadeIn">
            <div class="col-md-6 mb-4">
                <img src="https://picsum.photos/600/400" class="img-fluid z-depth-1-half" alt="Picsum.com">
            </div>
            <div class="col-md-6 mb-4">
                <h3 class="h3 mb-3">{{ book.title }}</h3>
                <h6 class="small mb-3">Book id: {{ book.id }}</h6>
                <p>{{ book.description }}</p>
                <div class="mb-4">
            {% if 'user_id' in session %}
                    <a class="btn btn-sm btn-primary" href="/portfolio/books_app/books/edit/{{ book.id }}">Edit </a><a class="btn btn-sm btn-info" href="/portfolio/books_app/books">Back to list</a> 
            {% else %}
                    <a class="btn btn-sm btn-info" href="/portfolio/books_app/books">Back to list</a>
            {% endif %}
                </div>
                <h5>Authors: </h5> 
            {% for author in authors_in_book.authors_and_books %}
                <span class="align-baseline mr-1 mb-1 p-2"><a href="/portfolio/books_app/authors/{{ author.id }}"><i class="fas fa-book-reader mr-2"></i>{{ author.first_name + ' ' + author.last_name }} </a></span>
            {% endfor %}
                <hr>
                <form action="/portfolio/books_app/add_author_to_book" method="POST">
                    <label for="author_id">Add Author to Author's List</label>
                    <select class="form-control mb-4" name="author_id">
                {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.first_name + ' ' + author.last_name }}</option>
                {% endfor %}
                    </select>
                    <input type="hidden" name="book_id" value="{{ book.id }}">
                {% if 'user_id' in session %}
                    <input class="btn btn-info" type="submit" value="Add">
                {% else %}
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Only logged in users can add items to the list">
                        <button style="pointer-events: none;" class="btn btn-info" type="button" disabled>Add</button>
                    </span>
                {% endif %}
                </form>
            </div>
        </div>
    </div>  
{% endblock %}