{% extends './layout.html' %}
{% block title %}{{ 'Editing ' + wish.title + ' - Demo App' }}{% endblock %}
{% block body %}
    <div class="mb-5 mt-5">
        <div class="container flex-center mt-0">
            <div class="row mt-0 wow fadeIn">
                <div class="col">
                    <form class="text-center border border-light p-5" action="/portfolio/wishes_app/wish/update/{{ wish.id }}" method="POST">
                        <div class="form-row mb-4">
                            <div class="col">
                                <h2 class="mb-3">Edit Your Wish</h2>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <input type="text" class="form-control mb-4" name="title" value="{{ wish.title }}">
                        </div>
                        <div class="form-row mb-2">
                            <textarea class="form-control mb-2" rows="6" name="description">{{ wish.description }}</textarea>
                            <a class="btn btn-warning" href="/portfolio/wishes_app/wishes">Cancel</a>
                            <button class="btn btn-info" type="submit">Update</button>  
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}