<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/mdb.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/style.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='img/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='img/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='img/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static',filename='img/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static',filename='img/safari-pinned-tab.svg') }}" color="#5bbad5">
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{{ url_for('static',filename='img/browserconfig.xml') }}">
        <meta name="theme-color" content="#ffffff">
        {% block head %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% if 'user_id' in session %}
            <script>
                var CURRENT_USER_ID = {{ session['user_id'] }}
            </script>
        {% endif %}
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark scrolling-navbar bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/" target="_blank">
                    <strong><img src="/static/img/brand.png" alt="Celso Chaves" width="50px"></strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.linkedin.com/in/celsochaves/" target="_blank" >About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/portfolio">Portfolio</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav nav-flex-icons">
                    <!-- Right -->
                        <li class="nav-item">
                            <a href="https://www.instagram.com/celsochaves_" class="nav-link" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com/celsochaves_" class="nav-link" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/ccproweb" class="nav-link border border-light rounded  waves-effect waves-light" target="_blank">
                            <i class="fab fa-github mr-2"></i>GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
            <div class="container">
                <a class="navbar-brand" href="/portfolio">Demo Apps</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                    {% if 'user_id' in session %}
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/portfolio/user/my_account">
                                Hi <span id="user-first-name"></span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Demo Apps</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/portfolio/books_app/books">Books & Authors</a>
                                <a class="dropdown-item" href="/portfolio/wishes_app/wishes">Make a Wish</a>
                                <a class="dropdown-item" href="/portfolio/ideas_app/bright_ideas">Bright Ideas</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/portfolio/user/logout">   
                                Logout <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Demo Apps</a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/portfolio/books_app/books">Books & Authors</a>
                                    <a class="dropdown-item" href="/portfolio/wishes_app/wishes">Make a Wish</a>
                                    <a class="dropdown-item" href="/portfolio/ideas_app/bright_ideas">Bright Ideas</a>
                                </div>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/portfolio/user/register">   
                                Register
                            </a>
                        </li>
                            <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/portfolio/user/login">   
                                Login <i class="fas fa-sign-in-alt"></i>
                            </a> 
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
            <div class="error mb-0">
                <nav class="alert alert-info alert-dismissible wow fadeIn show text-center mb-0" role="alert">
                    <ul class="list-unstyled">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </nav>
            </div>
        </div>
        {% endif %}
    {% endwith %}
    <div id="alerts"></div>
        {% block body %}{% endblock %}
        <footer class="page-footer text-center font-small">
            <div class="pt-4">
                <a class="btn btn-outline-white" href="https://www.linkedin.com/in/celsochaves/" target="_blank" role="button">Linkedin<i class="fab fa-linkedin ml-2"></i></a>
                <a class="btn btn-outline-white" href="https://www.linkedin.com/in/celsochaves/" target="_blank" role="button" >Contact me <i class="fas fa-envelope ml-2"></i></a>
            </div>
            <hr class="my-4" />
            <div class="pb-4">
                <a href="https://twitter.com/celsochaves_" target="_blank"><i class="fab fa-twitter mr-3"></i></a>
                <a href="https://github.com/ccproweb" target="_blank"><i class="fab fa-github mr-3"></i></a>
                <a href="https://www.instagram.com/celsochaves_/" target="_blank"><i class="fab fa-instagram mr-3"></i></a>
            </div>
            <div class="footer-copyright py-3">© 2019 Copyright: 
                <a href="https://www.celsochaves.com" target="_blank"> Celso Chaves</a>
            </div>
        </footer>
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.4.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/mdb.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/scripts.js') }}"></script>
        <script>
            new WOW().init();
            $(document).ready (function(){
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
                $(".alert").fadeTo(5000, 500).slideUp(500, function(){
                    $(".alert").slideUp(1000);
                });
            });
        </script>
    </body>
</html>
