{% extends './main_layout.html' %}
{% block title %}Portfolio - Celso Chaves{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row mb-4 wow fadeIn">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/python-flask.jpg" class="card-img-top" alt="Books & Apps Python app">
                    <a href="/portfolio/books_app/books"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Books and Authors</h4>
                    <h6 class="small"><i class="fab fa-python"></i> Python Flask App</h6>
                    <p class="card-text"></p>
                    <a href="/portfolio/books_app/books" class="btn btn-primary btn-md">VIEW<i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/python-flask.jpg" class="card-img-top" alt="Bright Ideas Python App">
                    <a href="/portfolio/ideas_app/bright_ideas"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Bright Ideas</h4>
                    <h6 class="small"><i class="fab fa-python"></i> Python Flask App</h6>
                    <p class="card-text"></p>
                    <a href="/portfolio/ideas_app/bright_ideas" class="btn btn-primary btn-md">VIEW<i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/python-flask.jpg" class="card-img-top" alt="Wishes Python App">
                    <a href="/portfolio"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Wishes</h4>
                    <h6 class="small"><i class="fab fa-python"></i> Python Flask App</h6>
                    <p class="card-text"></p>
                    <a href="/portfolio/wishes_app/wishes" target="_blank" class="btn btn-primary btn-md">VIEW <i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/ole-impact-fc.jpg" class="card-img-top" alt="Olé Impact FC Website">
                    <a href="https://www.oleimpactfc.com" target="_blank"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Olé Impact FC</h4>
                    <h6 class="small"><i class="fab fa-wordpress"></i> Wordpress Website</h6>
                    <p class="card-text"></p>
                    <a href="https://www.oleimpactfc.com" class="btn btn-primary btn-md" target="_blank">VIEW<i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/elizabeth-development.jpg" class="card-img-top" alt="Elizabeth Development Website">
                    <a href="https://www.elizabethdevelopment.com" target="_blank"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Elizabeth Development</h4>
                    <h6 class="small"><i class="fab fa-wordpress"></i> Wordpress Website</h6>
                    <p class="card-text"></p>
                    <a href="https://www.elizabethdevelopment.com" class="btn btn-primary btn-md" target="_blank">VIEW<i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/gustavo-tessaro.jpg" class="card-img-top" alt="Gustavo Tessaro Website">
                    <a href="https://www.gustavotessaro.com" target="_blank"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Gustavo Tessaro</h4>
                    <h6 class="small"><i class="fab fa-wix"></i> Wix Website</h6>
                    <p class="card-text"></p>
                    <a href="https://www.gustavotessaro.com" target="_blank" class="btn btn-primary btn-md"> VIEW <i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/marcelo-garcia.jpg" class="card-img-top" alt="">
                    <a href="https://www.mgctbjj.com" target="_blank"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">MGCTBJJ Jiu-Jitsu</h4>
                    <h6 class="small"><i class="fab fa-wordpress"></i> Wordpress Website</h6>
                    <p class="card-text"></p>
                    <a href="https://www.mgctbjj.com" class="btn btn-primary btn-md" target="_blank">VIEW<i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/bethel-ministry.jpg" class="card-img-top" alt="Bethel Ministry Website">
                    <a href="https://www.bethelministry.org" target="_blank"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Bethel Ministry</h4>
                    <h6 class="small"><i class="fab fa-wordpress"></i> Wordpress Website</h6>
                    <p class="card-text"></p>
                    <a href="https://www.bethelministry.org" class="btn btn-primary btn-md" target="_blank">VIEW<i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/bill-schiebe.jpg" class="card-img-top" alt="Bill Schiebe Painting Website">
                    <a href="https://www.billschiebepainting.com" target="_blank"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Bill Schiebe</h4>
                    <h6 class="small"><i class="fab fa-php"></i> PHP Website</h6>
                    <p class="card-text"></p>
                    <a href="https://www.billschiebepainting.com" target="_blank" class="btn btn-primary btn-md"> VIEW <i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/jgr-carpentry.jpg" class="card-img-top" alt="JGR Carpentry Website">
                    <a href="https://www.jgrcarpentry.com" target="_blank"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">JGR Carpentry</h4>
                    <h6 class="small"><i class="fab fa-wordpress"></i> Wordpress Website</h6>
                    <p class="card-text"></p>
                    <a href="https://www.jgrcarpentry.com" class="btn btn-primary btn-md" target="_blank">VIEW<i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/ksa-constructions.jpg" class="card-img-top" alt="KSA Constructions Website">
                    <a href="https://www.ksaconstructions.com" target="_blank"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">KSA Constructions</h4>
                    <h6 class="small"><i class="fab fa-wordpress"></i> Wordpress Website</h6>
                    <p class="card-text"></p>
                    <a href="https://www.ksaconstructions.com" class="btn btn-primary btn-md" target="_blank">VIEW<i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/marisol-heenie.jpg" class="card-img-top" alt="Marisol Heenie Website">
                    <a href="https://www.marisolheenie.com" target="_blank"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Marisol Heenie</h4>
                    <h6 class="small"><i class="fab fa-wordpress"></i> Wordpress Website</h6>
                    <p class="card-text"></p>
                    <a href="https://www.marisolheenie.com" class="btn btn-primary btn-md" target="_blank">VIEW<i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/pixboothfun.jpg" class="card-img-top" alt="Pixboothfun Website">
                    <a href="https://www.pixboothfun.com" target="_blank"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">PixboothFun</h4>
                    <h6 class="small"><i class="fab fa-wordpress"></i> Wordpress Website</h6>
                    <p class="card-text"></p>
                    <a href="https://www.pixboothfun.com" class="btn btn-primary btn-md" target="_blank">VIEW<i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card wow fadeIn">
                <div class="view overlay">
                    <img src="/static/img/python-logo@2x.png" class="card-img-top" alt="More Apps Coming Soon">
                    <a href="/portfolio"><div class="mask rgba-white-slight"></div></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Coming Soon!</h4>
                    <h6 class="small"><i class="fab fa-python"></i> Python Apps</h6>
                    <p class="card-text"></p>
                    <a href="/portfolio" target="_blank" class="btn btn-primary btn-md"> <i class="fas fa-spinner fa-pulse"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}